#section-about .container-about-image,
#section-about .container-about-image p {
  text-align: center;
}

#section-about .container-about-image img {
  text-align: cetner;
  width: 65%;
  border-radius: 10px;
}
