#section-projects ul {
  padding: var(--default-padding) 0px 0px var(--default-padding);
}

#section-projects .image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}

#section-projects .project-link {
  display: block;
  position: relative;
}

#section-projects .project-image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

#section-projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

#section-projects .overlay-text {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#section-projects .image-container:hover .project-image {
  opacity: 0.7;
  border-radius: 5px;
}

#section-projects .image-container:hover .overlay {
  opacity: 1;
  border-radius: 5px;
}

#section-projects .image-container:hover .overlay-text {
  opacity: 1;
}