:root {
  --color-main-1: #0C0032;
  --color-main-2: #190051;
  --color-main-3: #705ab3;
  --color-main-4: #3500D3;
  --color-main-5: #7b3b3b;
  --default-padding: 20px;
  --default-flex-gap: 20px;
  --navbar-height: 60px;
}

p,
li {
  font-family: Lucida Sans, Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.navbar {
  position: fixed;
  height: var(--navbar-height);
  top: 0;
  width: 100%;
  background-color: var(--color-main-1) !important;
}

.section-container {
  padding-top: var(--navbar-height) !important;
  margin-bottom: calc(-1 * var(--navbar-height));
}

.navbar-container-logo {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.container-f1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: var(--default-padding);
}

.container-f2 {
  display: flex;
  justify-content: center;
  height: fit-content;
  gap: var(--default-flex-gap);
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.container-f2-col {
  width: 600px;
  padding: 10px;
}

.container-skills {
  margin-top: 20px;
}

.container-skills p {
  margin-bottom: 0px;
}

.container-skills span {
  padding: 6px;
  margin-top: 5px;
}

.container-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 40px;
}

.fa {
  color: white;
  font-size: 30px !important;
  text-align: center;
  text-decoration: none;
}
